exportPattern("^[[:alpha:]]+")

import(graphics)
import(rtracklayer)
import(methods)
import(OMICsPCAdata)
import(rmarkdown)
import(IRanges)
import(GenomeInfoDb)
import(ggplot2)
import(factoextra)
import(kableExtra)
import(IRanges)
import(cluster)
import(pdftools)
import(clusterProfiler)
import(org.Hs.eg.db)
import(magick)
import(stats)
importFrom("fpc", "dbscan")
importFrom("stats", "kmeans")
importFrom("utils", "data")
importFrom("clValid", "optimalScores")
importFrom(clValid,clValid)
importFrom(NbClust, NbClust)
importFrom(cowplot, plot_grid)
importFrom(ggplot2, ggplot)
importFrom(rgl, plot3d)
importFrom(rgl, persp3d)
importFrom(corrplot,corrplot)
importFrom(MASS, kde2d)
importFrom(FactoMineR, PCA)
importFrom(PerformanceAnalytics, chart.Correlation)
importFrom(tidyr, gather)
importFrom("grDevices", "rainbow")
importFrom(data.table, as.data.table)
importFrom(data.table, data.table)
importFrom("utils", "read.table")
importFrom(HelloRanges, R_bedtools_intersect)
importFrom(reshape2, melt)



